<div th:fragment="sidebar" class="bg-light p-3 d-flex flex-column vh-100" style="width: 250px; overflow-y: auto;">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="/products/lowest-price-by-category">
        카테고리 별 최저가 조회
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/products/lowest-price-brand">
        최저 가격 브랜드 조회
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/products/price-range">
        카테고리 별 가격 조회
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/products/manage">
        상품 관리
      </a>
    </li>
  </ul>
</div>